/* General Layout */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #d5eaff;
}

.block {
  background-color: #e8f4ff;
  /* height: 30%; */
  margin: 1%;
  text-align: center;
}

/* Title and subtitles */
.title {
  text-align: center;
  background-color: #c2e4ff;
  color: #005da8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 200%;
}

.subtitle {
  line-height: 200%;
  color: #005da8;
}

/* cells and board */
#board {
  display: grid;
  background-color: #66b8fc;
  padding: 10px;
  grid-template-columns: auto;
  grid-gap: 10px;
  margin: 0vmin 20% 0vmin 20%;
}
.cell {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 20px;
  height: auto;
  text-align: center;
}

.chosen {
  background-color:antiquewhite;
  color: red;
}

#footer {
  background-color: #e9f7ff;
  padding: 0px;
  margin: 0px;
  text-align: center;
  line-height: 80%;
}

/* hide react template */
.react {
  visibility: hidden;
  display: none;
}



